$background-color: #EA9FB7;
$background-color-header: #E35C8B;
$background-color-footer: #D12660;
$background-color-aside: #92D9D8;
$main-text-color: #505573;

$levels-hover-color: #82c2c1;
$code-text-color: #888888;

